.navbar {
    .navbar-brand {
        span {
            b {
                margin-left: -6px;
                transform: translateY(4px);
                display: inline-block;
                color: #ffc31d !important;
            }
        }
    }
}